.foot_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-block {
  background-color: rgb(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0, 0.3);
}
